<!DOCTYPE html>
<html lang="en">
  <head>
    <title>React Blog App</title>
   
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/css/signup.css" rel="stylesheet">
    <script src="/static/js/jquery-3.1.1.js"></script>
      
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
 	 <ul class="nav nav-pills pull-right">
	    <li role="presentation"><a href="/showAddBlog">Add Blog</a></li>
   	    <li role="presentation" class="active"><a href="/logout">Logout</a></li>
 	 </ul>
	</nav>
        <img src="https://cdn4.iconfinder.com/data/icons/scripting-and-programming-languages/512/660277-Python_logo-128.png"/ >
      </div>

      <div class="jumbotron">
        <h1>Welcome Home</h1>
         <button role="presentation" ><a href="/">Home</a></button>
            <button role="presentation" class="active"><a href="/showAddBlog">Add Blog</a></button>
            <button role="presentation" ><a href="/logout">Logout</a></button>
       
      </div>      

      <footer class="footer">
        <p>Yesha Blog 2017</p>
      </footer>

    </div>
  </body>
</html>
